@external .external-nav, .internal-nav, .prefix, .header, .footer, .search, .search-button, .headerNav, .button, .special, .selected, .disabled; 

a, a:link {
  color: #062A55;
  text-decoration: none;
}
a:visited {
	
}

a:hover, a.selected {
  color: #1282CC;
}

a:active {
  color: #081B3C;
  text-decoration: none;
}

a.disabled{
	
}

.headerWrapper {
  background: #EFF5F9;
  border-bottom: 1px solid #BCC8D1;
  box-shadow: inset 0 -1px 3px #BCC8D1;
}

.header {
	width: 100%;
	height: 40px;
	background: #4d85b6; /* Old browsers */
	background: literal("-moz-linear-gradient(top, #4d85b6 0%, #2b5480 100%)"); /* FF3.6+ */
	background: literal("-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d85b6), color-stop(100%,#2b5480))"); /* Chrome,Safari4+ */
	background: literal("-webkit-linear-gradient(top, #4d85b6 0%, #2b5480 100%)"); /* Chrome10+,Safari5.1+ */
	background: literal("-o-linear-gradient(top, #4d85b6 0%,#2b5480 100%)"); /* Opera11.10+ */
	background: literal("-ms-linear-gradient(top, #4d85b6 0%,#2b5480 100%)"); /* IE10+ */
	background: literal("linear-gradient(top, #4d85b6 0%,#2b5480 100%)"); /* W3C */
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.headerNav {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.header .prefix {
	font-size: 12px;
	vertical-align: top;
}

.header div.search {
  position: absolute;
  right: 100px;
  padding: 5px;
}

.header input.search:focus {
  color: #313131;
  font-style: normal;
  background: #ffffff;
}
	
.header input.search {
  display: block;
  float: left;
  width: 150px;
  height: 20px;
  border: none;
  line-height: 16px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 0 0 8px;
  margin: 2;
  color: #636663;
  background: #fff;
  -moz-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.header .search-button {
  display: block;
  float: left;
  width: 22px;
  height: 20px;
  border: 1px solid #cfcfcf;
  background: #f0f0f0; /* Old browsers */
  background: literal("-moz-linear-gradient(top, #f0f0f0 0%, #cfcfcf 100%)"); /* FF3.6+ */
  background: literal("-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#cfcfcf))"); /* Chrome,Safari4+ */
  background: literal("-webkit-linear-gradient(top, #f0f0f0 0%,#cfcfcf 100%)"); /* Chrome10+,Safari5.1+ */
  background: literal("-o-linear-gradient(top, #f0f0f0 0%,#cfcfcf 100%)"); /* Opera11.10+ */
  background: literal("-ms-linear-gradient(top, #f0f0f0 0%,#cfcfcf 100%)"); /* IE10+ */
  background: literal("linear-gradient(top, #f0f0f0 0%,#cfcfcf 100%)"); /* W3C */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-indent: -9999px;
  cursor: pointer;
  margin-left: 2px;
  color: #333333;
}

.external-nav,
.internal-nav,
.container {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
}
.container {
  background: none repeat scroll 0 0 #FFFFFF;
  padding-bottom: 50px;
  min-height: 80%;
}

.footerStretch {
	background-color: #e4e4e4;
  	border-top: 1px solid #cccccc;
	width: 100%;
	height: 50px;
	padding-top: 23px;
}

.footer {
	width: 1000px;
	margin: 0 auto;	
}

.logo {
	display: block;
	width: 140px;
	height: 25px;
	float: left;
	padding: 2px;
	cursor: pointer;
}

.button {
  display: inline-block;
  cursor: pointer;
  background: #fcfcfc; /* Old browsers */
  background: literal("-moz-linear-gradient(top, #fcfcfc 0%, #e5e5e5 100%)"); /* FF3.6+ */
  background: literal("-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e5e5e5))"); /* Chrome,Safari4+ */
  background: literal("-webkit-linear-gradient(top, #fcfcfc 0%,#e5e5e5 100%)"); /* Chrome10+,Safari5.1+ */
  background: literal("-o-linear-gradient(top, #fcfcfc 0%,#e5e5e5 100%)"); /* Opera11.10+ */
  background: literal("-ms-linear-gradient(top, #fcfcfc 0%,#e5e5e5 100%)"); /* IE10+ */
  background: literal("linear-gradient(top, #fcfcfc 0%,#e5e5e5 100%)"); /* W3C */
  color: #363636;
  border: 1px solid #A9A9A9;
  padding: 0 10px;
  line-height: 24px;
  font-size: small;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.button:hover {
  border-color: #6E6E6E;
}

.button:active {
  background: #DEDEDE;
}

.button.disabled {
  cursor: default;
}

.button.disabled:hover {
  border-color: #A9A9A9;
}

.button.special {
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  color: #fff;
  border: 1px solid #1C5CA7;
  background: #6dabdb; /* Old browsers */
  background: literal("-moz-linear-gradient(top, #6dabdb 0%, #4d85b6 100%)"); /* FF3.6+ */
  background: literal("-webkit-gradient(linear, left top, left bottom, color-stop(0%,#6dabdb), color-stop(100%,#4d85b6))"); /* Chrome,Safari4+ */
  background: literal("-webkit-linear-gradient(top, #6dabdb 0%,#4d85b6 100%)"); /* Chrome10+,Safari5.1+ */
  background: literal("-o-linear-gradient(top, #6dabdb 0%,#4d85b6 100%)"); /* Opera11.10+ */
  background: literal("-ms-linear-gradient(top, #6dabdb 0%,#4d85b6 100%)"); /* IE10+ */
  background: literal("linear-gradient(top, #6dabdb 0%,#4d85b6 100%)"); /* W3C */

}

.button.special:hover {
  border: 1px solid #1C5CA7;
  background: #568EBF;
  background: #78b4e2; /* Old browsers */
  background: literal("-moz-linear-gradient(top, #78b4e2 0%, #568ebf 100%)"); /* FF3.6+ */
  background: literal("-webkit-gradient(linear, left top, left bottom, color-stop(0%,#78b4e2), color-stop(100%,#568ebf))"); /* Chrome,Safari4+ */
  background: literal("-webkit-linear-gradient(top, #78b4e2 0%,#568ebf 100%)"); /* Chrome10+,Safari5.1+ */
  background: literal("-o-linear-gradient(top, #78b4e2 0%,#568ebf 100%)"); /* Opera11.10+ */
  background: literal("-ms-linear-gradient(top, #78b4e2 0%,#568ebf 100%)"); /* IE10+ */
  background: literal("linear-gradient(top, #78b4e2 0%,#568ebf 100%)"); /* W3C */
}

.button.special a,
.button.special a:hover {
  color: #fff;
}
