Hello,

This is your invitation to sign up for ${AppName}. To accept this invitation, please visit:

${URL}

Once you sign up, you can access ${AppName} and start creating and sharing projects!

------------------------------------------------
To use ${AppName} via a Web Browser:
------------------------------------------------

1. Go to ${AppBaseUrl}

2. Enter your credentials to sign in

Thank you for using ${AppName}. Happy Coding!

- The ${AppName} Team